<div class="event">
  <div class="content">
    <div class="summary">
      <i class="ui small terminal icon"></i><em class="nick_message"><%= "#{message.user.username.capitalize}: " %></em><%= message.body %>
    </div>
  </div>
</div>
