<h2 class="ui center aligned icon header">
  <i class="circular keyboard icon"></i>
    <h3 class="ui inverted center aligned block header">
      ChatRoom
    </h3>
</h2>
<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui feed">
          <div class="event">
            <div class="content">
              <em>Christian:</em> Hello World!
            </div>
          </div>
        </div>
      </div>
      <div class="extra content">
        <div class="ui fluid action input">
          <input type="text" placeholder="Enter Message">
            <div class="ui button">
              <i class="keyboard icon"></i>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted vertical menu">
          <a class="item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
