@import "semantic-ui";

#messages-container{
  overflow: auto;
  height: 150px;    
}

.chatbox {
  height: 350px;
}

.button_text, .button_text:hover {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.dropdown_text, .dropdown_text:hover {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.nick_message {
  font-weight: bold;
  color: #728F5B;
}
